.movie {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  .movieimage {
    width: 100%;
    border-radius: 1.875rem;
    cursor: pointer;
    border-radius: 1.875rem;
  }

  .movieinfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .movietype {
      padding: .5rem 1rem;
      border-radius: 15.9375rem;
      background-color: var(--yellow);
      color: var(--grey-2);
      font-size: var(--font-6);
      font-weight: var(--weight-1);
    }

    .movieduration {
      font-family: var(--font-secondary);
      color: #FFFFFF80;
      font-size: var(--font-5);
      font-weight: var(--weigth-2);
    }

  }

  .movieinfoRating {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .movietitle {
      font-family: var(--font-primary);
      color: var(--white);
      font-size: var(--font-3);
      font-weight: var(--weight-1);

    }

    .movierating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      img {
        height: 2.125rem;
      }

      span {
        font-family: var(--font-primary);
        color: var(--white);
        font-size: var(--font-3);
        font-weight: var(--weight-1);
      }
    }
  }
}

@media (max-width: 41.875rem) {
  .movie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .movieinfoRating {
      .movietitle {
        color: var(--white);
        font-size: var(--font-1);
        font-weight: var(--weight-1);

      }
    }
  }
}