.formLogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: .625rem auto;
    gap: 1rem;

    &>input {
        width: 100%;
    }
}

.divRegisterLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.buttonLogin {
    width: 100%;
    padding: .625rem;
    font-family: var(--font-primary);
    font-size: var(--font-6);
    font-weight: var(--weight-1);
    line-height: var(--font-4);
    background-color: var(--yellow);
    color: var(--grey-2);
    border-radius: 15.9375rem;
}