<<<<<<< HEAD
.buttonSmall {
    width: 114px;
    height: 43px;
    // top: 881px;
    // left: 43px;
    border-radius: 255px;

=======
%btn{
>>>>>>> 4641fb0e6bcfa13654c5edf75fabd23743b45058
    font-family: var(--font-primary);
    font-size: var(--font-6);
    font-weight: var(--weight-1);
    line-height: var(--font-4);
    background-color: var(--yellow);
    color: var(--grey-2);
<<<<<<< HEAD

    &.round{
        width: 43px;
    }
=======
    border-radius: 255px;
}

.buttonSmall {
    @extend %btn;
    width: 190px;
    height: 43px;
>>>>>>> 4641fb0e6bcfa13654c5edf75fabd23743b45058
}

.buttonMedium {
    @extend %btn;
    width: 170px;
    height: 54px;    
}

.buttonLarge {
    @extend %btn;
    width: 185px;
    height: 67px;    
}
