%btn{
    font-family: var(--font-primary);
    font-size: var(--font-6);
    font-weight: var(--weight-1);
    line-height: var(--font-4);
    background-color: var(--yellow);
    color: var(--grey-2);
    border-radius: 255px;
}

.buttonSmall {
    @extend %btn;
    width: 190px;
    height: 43px;
}

.buttonMedium {
    @extend %btn;
    width: 170px;
    height: 54px;    
}

.buttonLarge {
    @extend %btn;
    width: 185px;
    height: 67px;    
}
