:root {
    --grey-1: #3D3D3D;
    --grey-2: #171717;
    --grey-3: #252525;
    --yellow: #FFBB38;
    --white: #FFFFFF;
    --black: #000000;


    --font-1: 2.75rem;
    --font-2: 2rem;
    --font-3: 1.3125rem;
    --font-4: 1.625rem;
    --font-5: 1.125rem;
    --font-6: 1.0625rem;

    --weight-1: 700;
    --weight-2: 400;

    --height-1: 4.125rem;
    --height-2: 3rem;
    --height-3: 1.9688rem;
    --height-4: 2.4375rem;
    --height-5: 2.25rem;

    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Inter", sans-serif;
}