:root{
    --grey-1: #3D3D3D;
    --grey-2: #171717;
    --yellow: #FFBB38;
    --white: #FFFFFF;
    --black: #000000;


    --font-1: 44px;
    --font-2: 32px;
    --font-3: 21px;
    --font-4: 26px;
    --font-5: 18px;
    --font-6: 17px;
    
    --weight-1: 700;
    --weight-2: 400;

    --height-1: 66px;
    --height-2: 48px;
    --height-3: 31.5px;
    --height-4: 39px;
    --height-5: 36px;

    
    --font-inter: "Inter", sans-serif;
    --font-primary: "Poppins", sans-serif;
}