* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

input,
select,
textarea {
    background: transparent;
    border: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: underline;
}