%title {
    font-weight: var(--weight-1);
    color: var(--white);
}

.title1 {
    @extend %title;
    font-size: var(--font-1);
    font-size: clamp(var(--font-2), 3vw, var(--font-1));

    line-height: var(--height-1);

    &.nowrap {
        white-space: nowrap
    }

}

.title1-mobileA {
    @extend %title;
    font-size: var(--font-2);
    line-height: var(--height-2);
}

.title1-mobileB {
    @extend %title;
    font-size: var(--font-3);
    line-height: var(--height-3);

    &.center {
        display: inline-flex;
        align-items: center;
        gap: 0.625rem;
    }
}

.title2 {
    @extend %title;
    font-size: 1var(--font-6);
    line-height: var(--height-5);
}

.title3 {
    @extend %title;
    font-size: var(--font-4);
    line-height: var(--height-4);
}


%text {
    font-family: var(--font-secondary);
    font-weight: var(--weight-2);
    color: var(--white);
}

.paragraph {
    .text1 {
        @extend %text;
        font-size: var(--font-5);
        line-height: var(--height-5);

    }

    &.alignRight {
        text-align: right;
        color: #FFFFFF80;
    }
}

.menuItem {
    @extend %text;
    font-size: 1var(--font-6);
    line-height: var(--height-5);

    &.link {
        color: var(--yellow);
    }

}

.text2 {
    @extend %text;
    font-size: 1var(--font-6);
    line-height: var(--height-5);
}


@media (max-width: 41.875rem) {
    .title1-mobileB {
        &.center {
            text-align: center;
        }
    }

    .paragraph {
        font-size: var(--font-5);
        line-height: var(--height-5);

        &.alignRight {
            text-align: right;
            color: #FFFFFF80;
        }

        &.alignLeft {
            width: 90%;
        }

    }

    .menuItem {
        font-size: 1var(--font-6);
        line-height: var(--height-5);

        &.link {
            color: var(--yellow);
        }

        .text2 {
            font-size: 1var(--font-6);
            line-height: var(--height-5);

        }
    }
}

@media (max-width: 41.875rem) {
    .title1-mobileB {
        &.center {
            text-align: center;
        }
    }

    .paragraph {
        font-size: var(--font-5);
        line-height: var(--height-5);

        &.alignRight {
            text-align: right;
            color: #FFFFFF80;
        }

        &.alignLeft {
            width: 90%;
            margin-top: 1rem;
        }
    }
}


@media(max-width: 29.6875rem) {
    .title1 {
        line-height: var(--height-5);

        &.nowrap {
            white-space: wrap
        }
    }
    .paragraph {
        font-size: var(--font-5);
        line-height: var(--height-5);

        &.alignRight {
            text-align: right;
            color: #FFFFFF80;
        }

        &.alignLeft {
            width: 90%;
        }
    }
}