.internalPage{
    background-color: var(--grey-2);
    color: var(--white);

    &>div{
        &>div{
            &>p{
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--white);
            }
        }
    }
}