.overlayBox {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33 31 31 / 73%);

    display: flex;
    align-items: center;
    justify-content: center;

    .flexbox {
        position: relative;
        background: var(--grey-2);
        border-radius: .25rem;

        .head {
            height: 3.5625rem;
            flex-shrink: 0;
            border-radius: .5rem .5rem 0rem 0rem;
            background: var(--grey-2);

            display: flex;
            align-items: center;
            justify-content: space-between;

            &>h2 {
                margin: .875rem 0rem .9375rem .875rem;
            }

            &>button {
                margin: 1rem 1.0625rem .9375rem 0rem;
            }
        }

        .textarea,
        .select {
            width: 16.5rem;
            height: 5.25rem;
            padding: .4069rem;
            margin: 0rem .8556rem 0rem 1.1031rem;
            background-color: var(--grey-1);
        }

        &>button {
            margin: 1.9781rem 1.1031rem 1.6044rem 1.4781rem;
        }
    }
}