.overlayBox {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33 31 31 / 73%);
    

    display: flex;
    align-items: center;
    justify-content: center;

    .flexbox {
        position: relative;
        background: var(--grey-2);
        border-radius: 4px;
        
        .head {
            height: 57px;
            flex-shrink: 0;
            border-radius: 8px 8px 0px 0px;
            background: var(--grey-2);

            display: flex;
            align-items: center;
            justify-content: space-between;

            &>h2 {
                margin: 14px 0px 15px 14px;
            }

            &>button {
                margin: 16px 17px 15px 0px;
            }
        }

        .textarea, .select {
            width: 264px;
            height: 84px;
            padding: 6.51px;
            margin: 0px 13.69px 0px 17.65px;
            background-color: var(--grey-1);
        }


        &>button{
            margin: 31.65px 17.65px 25.67px 23.65px;
        }
    }
}