.internalPage {
    background-color: var(--grey-2);
    color: var(--white);
    padding: 0 0 1.875rem 0;

<<<<<<< HEAD
    &>div {
        &>header {
            background-image: url("../../assets/BackgroundImage.png");
            height: 639px;
            width: 100%;
            // border: 1px solid white;
=======
    &>header {
        &>div {
            width: 75%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1.25rem;

>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591

            &>div {
                width: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
<<<<<<< HEAD
                padding: 20px;
                // border: 1px solid red;
=======
                gap: 1.875rem;

>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591

                &>div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
<<<<<<< HEAD
                    gap: 30px;
                    // border: 1px solid white;

                    &>div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        // border: 1px solid white;

                        &>p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: var(--white);
                        }
                    }
=======
                    gap: .625rem;
>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591
                }
            }
        }
    }

<<<<<<< HEAD
        &>main {
            width: 100%;
            // border: 1px solid red;

            &>.principalAvaliation {
                width: 75%;
=======
    main {
        width: 100%;

        &>.principalAvaliation {
            width: 75%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 2.1875rem;

            &>.infoHeader {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1.875rem;
                margin-top: -9rem;

                &>.text {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &>p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .625rem;

                    }
                }

                &>div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        &>.listAvaliation {
            width: 100%;

            &>div {
                width: 75%;
                margin: 1.875rem auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .75rem;
                }
            }
        }
    }

}


@media (max-width: 41.875rem) {
    header {
        &>div {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1.25rem;
            gap: 1rem;

            &>div {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1.875rem;
            }
        }
    }

    main {
        width: 100%;

        &>.principalAvaliation {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 2.1875rem;


            &>.infoHeader {
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1.875rem;
                margin-top: -11.25rem;

                &>.text {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    &>p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .625rem;
                    }
                }

                &>div {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        &>.listAvaliation {
            width: 100%;

            &>div {
                width: 75%;
                margin: 1.875rem auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .75rem;
                }
            }
        }
    }

}

@media (max-width:35.75rem) {
    .internalPage {
        background-color: var(--grey-2);
        color: var(--white);
        padding: 0 0 1.875rem 0;

        &>main {
            width: 100%;

            &>.principalAvaliation {
                width: 90%;
>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-direction: column;
<<<<<<< HEAD
                gap: 35px;
                // border: 1px solid red;

=======
                gap: 2.1875rem;
>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591

                &>.infoHeader {
                    width: 100%;
                    display: flex;
<<<<<<< HEAD
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 30px;
                    margin-top: -110px;
                    // border: 1px solid blue;

                    &>.text {

                        // border: 1px solid red;
                        &>p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            // border: 1px solid yellow;
                        }
                    }

                    &>.infoAvaliation {
                        width: 938px;
                        height: 288px;
                        // border: 1px solid white;
                    }
                }
            }


            &>.listAvaliation {
                width: 100%;

                &>div {
                    width: 75%;
                    margin: 30px auto;
                    // border: 1px solid white;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // padding: 30px;

                    &>button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 12px;
                    }
                }
=======
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: .625rem;
                    margin-top: -7.5625rem;
                }

            }

        }
    }
}

@media (max-width:29.6875rem) {
    main {
        width: 100%;

        &>.principalAvaliation {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 2.1875rem;

            &>.infoHeader {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: .625rem;
                margin-top: -28.125rem;
>>>>>>> d84f98f8c544c1525ddb82d73e0fb1263c7f3591
            }
        }
    }
}