.headerUser {
    width: 100%;
    padding: 1rem;

    &>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 75%;

        &>div {
            width: max-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }
}

.header {
    width: 100%;
    padding: 1rem;

    .divHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 75%;

        .logo {
            width: 8.4756rem;
            color: var(--white);
        }

        .divNav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .buttonLogin {
                width: 7.125rem;
                height: 2.125rem;
                border-radius: 15.9375rem;
                background: var(--yellow);
                color: var(--grey-2);
                font-weight: var(--weigth-1);
                font-size: var(--font-6);
                cursor: pointer;
            }
        }
    }
}

@media (max-width:41.875rem) {
    .divHeader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        margin: 1.25rem auto;
        width: 90%;

        .divNav {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .buttonLogin {
                padding: .625rem;
                border-radius: 15.9375rem;
                background: var(--yellow);
                color: var(--grey-2);
                font-weight: var(--weigth-1);
                font-size: var(--font-6);
                cursor: pointer;
            }
        }
    }
}