.login {
    width: auto;
    height: 100vh;
    background: var(--grey-2);

    .pageLogin {
        width: auto;
        height: 85%;
        display: flex;
        flex-direction: column;
        background-image: url("../../assets/login_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .main {
            width: 40%;
            max-width: 559px;
            height: auto;
            margin-top: 3.125rem;
            margin-left: 12.5rem;
            background: var(--grey-2);
        }
    }
}

@media (max-width:41.875rem) {
    .login {
        width: auto;
        height: auto;

        .pageLogin {
            width: auto;
            height: 100%;
            background-image: url("../../assets/login_background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .main {
                width: 75%;
                height: auto;
                margin: 3.125rem auto;
                background: var(--grey-2);
            }
        }
    }
}