.myAvaliation {
    width: 100%;

    &>ul {
        width: 100%;

        &>li {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.875rem;

            &>p {
                font-family: var(--font-primary);
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.5rem;
            }

            &>div {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    .avaliationTitle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.625rem;
        }
    }
}

.divAvaliation {
    width: 60%;
    margin-left: 4.0625rem;
}

.noteEditRemove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;

    &>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .3125rem;
    }
}

@media (max-width: 41.875rem) {
    .myAvaliation {
        width: 100%;

        &>ul {
            width: 100%;

            &>li {
                width: 100%;

                &>div {
                    width: 100%;
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: space-between;
                    align-items: center;
                    gap: .625rem;
                }
            }
        }
    }

    .divAvaliation {
        width: 80%;
        margin-left: 0;
    }
}